:root {
	--primary-color: var(--slate-gray);
	--secondary-color: var(--light-blue);
	--box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	--slate-gray: #77878bff;
	--dark-slate-gray: #305252ff;
	--onyx: #373e40ff;
	--teal: #488286ff;
	--light-blue: rgba(173, 245, 242, 0.384);
	--white-smoke: #f5f5f5ff;
	--red: #fd9b9b;
    --green: #90d390;
}

@media screen and (min-width: 768px) {
    body {
        margin: 50px 0;
    }

    #sidebar {
        width: 300px;
        height: calc(100vh - 100px);
        top: 50px;
    }

    #noteContent {
        width: calc(100% - 300px);
        height: calc(100vh - 100px);
        top: 50px;
        left: 300px;
    }

    footer {
        bottom: 0;
    }
}

/* For desktops */
@media screen and (min-width: 1024px) {
    body {
        margin: 100px 0;
    }

    #sidebar {
        width: 350px;
    }

    #noteContent {
        width: calc(100% - 350px);
        left: 350px;
    }
}


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
	background: #232526;
	margin: 100px 0;
	display: flex;
	flex-direction: row;
}

#sidebar {
	width: 300px;
	height: calc(100vh - 160px);
	padding: 20px;
	position: fixed;
	top: 100px;
	left: 0;
}

#sidebar #search {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 1px solid var(--primary-color);
}

#sidebar #newNote {
	padding: 15px;
	border: 0;
	outline: 0;
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 20px;
}

#sidebar #deleteAll {
	padding: 15px;
	border: 0;
	outline: 0;
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 20px;
	width: 100%;
}

#sidebar #deleteAll:hover {
	background-color: var(--red);
	color: #ffffff;
}

#sidebar #notesList {
	height: 80%;
	overflow-y: auto;
	border-radius: 5px 5px 5px 5px;
	padding: 10px;
	margin-top: 20px;
}

#savedNotesTitle {
	font-size: 1.5em;
	color: var(--white-smoke);
	margin-bottom: 10px;
	padding-bottom: 5px;
	text-align: center;
}

#noteContent {
	width: calc(100% - 300px);
	height: calc(100vh - 160px);
	padding: 20px;
	position: fixed;
	top: 100px;
	left: 300px;
	right: 0;
	bottom: 100px;
	overflow-y: auto;
}

.note {
	width: 100%;
	padding: 20px;

	border-radius: 5px;
	position: relative;
}

.note .header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.note .header input {
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid var(--primary-color);
}

.note .header .buttons {
	display: flex;
}

.note .header .buttons .button {
	padding: 10px;
	border: 0;
	outline: 0;
	border-radius: 5px;
	cursor: pointer;
	margin-left: 10px;
}


.note textarea {
	width: 100%;
	padding: 10px;
	margin-top: 20px;
	border-radius: 5px;
	border: 1px solid var(--primary-color);
	resize: none;
}

.logo {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 48px;
	height: 48px;
	z-index: 999;
}

.name {
	position: absolute;
	top: 20px;
	left: 80px;
	font-size: 24px;
	z-index: 999;
}

footer {
	text-align: center;
	padding: 10px;
	position: fixed;
	bottom: 0;
	width: 100%;
}

footer a {
	color: #ffffff;
	text-decoration: none;
	font-size: 24px;
}

footer a:hover {
	color: #c0c0c0;
}

.notes-list {
	display: flex;
	flex-direction: column;
  }
  
  .note-card {
	background-color: var(--white-smoke);
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	box-shadow: var(--box-shadow);
	cursor: pointer;
	transition: transform 0.3s ease;
  }
  
  .note-card:hover {
	transform: translateY(-2px);
  }
  
  .note-card .title {
	font-weight: bold;
	margin-bottom: 5px;
  }
  
  .note-card .content {
	font-size: 0.9em;
	color: var(--dark-slate-gray);
  }
  .note-card .content {
	font-size: 0.9em;
	color: var(--dark-slate-gray);
	overflow: hidden; /* Hide overflowing content */
	text-overflow: ellipsis; /* Add ellipsis for overflowing text */
	white-space: nowrap; /* Prevent wrapping */
  }
  .modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: white;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	max-width: 400px;
	border-radius: 10px;
	text-align: center;
	box-shadow: var(--box-shadow);
}

.modal .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

.modal .close:hover,
.modal .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.modal .modal-buttons {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	gap: 20px;
}

.modal-buttons button {
	padding: 10px 20px;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	color: white;
	font-size: 16px;
}

#confirmDelete {
	background-color: #4CAF50; /* Green color for "Yes" button */
}

#cancelDelete {
	background-color: #f44336; /* Red color for "No" button */
}

.ok-button {
	background-color: #4CAF50 !important; /* Green color for "OK" button */
}

.toast-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
}

.toast {
    display: flex;
    align-items: center;
    padding: 20px 30px; /* Increased padding for a bigger toast */
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    margin-bottom: 10px;
    opacity: 0;
	color: white;
    transition: opacity 0.5s ease-in-out;
    font-size: 1.2em;
}

.toast.success {
    background-color: var(--green);
}

.toast.error {
    background-color: var(--red);
}

.toast.show {
    opacity: 1;
}

.toast .icon {
    margin-right: 10px;
}